$colors: (
  primary: #deae3c
);

/* GLOBAL */

$padding-img: 12px; //why not give percentage but pixels ?
$borders: 15px;
$margin: 25px;
$ipad: 768px;
$desktop: 1024px;
$screen: 1300px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin ipadResp {
  @media (min-width: #{$ipad}) {
    @content;
  }
}
@mixin desktopResp {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin screenResp {
  @media (min-width: #{$screen}) {
    @content;
  }
}

html,
body {
  background-color: lightgrey;
}

/* HEADER */
.header {
  background-image: url(../img-nemrod/female-coffee.jpg);
  background-position: center;
  object-fit: cover;
  background-size: cover;
  // background-attachment: fixed;
  height: 100vh;
  padding: 10px;
  text-align: center;

  // SHOWCASE
  .header_text {
    p {
      color: #fff;
      font-size: 2rem;
      margin-top: 2em;
      font-style: italic;
      margin-top: 3em;

      @include ipadResp {
        font-size: 3em;
        position: relative;
        bottom: 40px;
      }

      @include desktopResp {
        font-size: 3em;
        position: relative;
        bottom: 60px;
        br {
          display: none;
        }
      }
      @include screenResp {
        font-size: 4em;
        position: relative;
        bottom: 60px;
        br {
          display: none;
        }
      }
    }
    a {
      border: 1px solid color(primary);
      color: color(primary);
      border-radius: 10px;
      text-transform: uppercase;
      margin: 15px;
      @include ipadResp {
        font-size: 1.3em;
        position: relative;
        bottom: 40px;
      }
      @include desktopResp {
        bottom: 55px;
      }

      @include screenResp {
        font-size: 1.7em;
        position: relative;
        bottom: 50px;
      }
    }
  }
}

/* BOXES */
.boxes {
  // background-color: lightgreen;
  position: relative;
  text-align: center;
  color: white;
  text-transform: uppercase;

  @include desktopResp {
    padding: 15px;
  }
  .box {
    background-color: lightgrey;
    padding: $padding-img;
    a img:hover {
      filter: opacity(90%);
    }
    .textInTheBox {
      position: absolute;
      bottom: 10%;
      left: 10%;
      font-size: 1.5rem;

      @include ipadResp {
        font-size: 2.8rem;
        bottom: 10%;
        left: 10%;
      }
    }
  }
}

[class*="reveal-"] {
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1.4s cubic-bezier(0.59, 0, 0.02, 0.99);
}

@include desktopResp {
  .reveal-2 {
    transition-delay: 0.15s;
  }

  .reveal-3 {
    transition-delay: 0.2s;
  }

  .reveal-4 {
    transition-delay: 0.3s;
  }

  .reveal-5 {
    transition-delay: 0.4s;
  }
}
